<div class="container-fluid bg-slate-700">
<div class="container mx-auto p-5 flex items-center justify-center">
    <div class="bg-white mt-10 rounded-lg shadow-lg p-8 text-center">
        <h1 class="text-6xl font-bold mb-5 text-gray-800 text-center">PassGenerator</h1>
        <p class="text-gray-600 mb-5">PassGenerator te permite crear contraseñas seguras y almacenarlas de manera segura.</p>
        <div class="mb-10 flex flex-col items-center">
            <h2 class="text-xl font-semibold mb-2 text-gray-700">Ventajas de Usar una Contraseña Maestra</h2>
            <ul class="list-disc pl-5 text-gray-600">
                <li class="mb-2">Solo necesitas recordar una contraseña para acceder a todas tus cuentas.</li>
                <li class="mb-2">Aumenta la seguridad al tener contraseñas únicas y complejas para cada cuenta.</li>
                <li class="mb-2">Facilita la administración y actualización de contraseñas.</li>
            </ul>
        </div>
        <hr class="mb-8  border-2 shadow-md mx-28">
        <div class="mb-4 flex flex-col items-center">
            <h2 class="text-xl font-semibold mb-2 text-gray-700">Importancia de Usar Contraseñas Seguras</h2>
            <ul class="list-disc pl-5 text-gray-600">
                <li class="mb-2">Protege tus cuentas de accesos no autorizados.</li>
                <li class="mb-2">Reduce el riesgo de ser víctima de ciberataques.</li>
                <li class="mb-2">Cumple con las mejores prácticas de seguridad.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid my-6 py-6 bg-orange-700 w-full">
    <div class="mb-10 flex flex-col items-center bg-orange-700">
        <h2 class="text-3xl font-bold mb-2">¿Como es una contraseña segura?</h2>
    </div>
</div>
</div>