<h1 class="text-center text-3xl font-bold align-text-bottom">Home Works!</h1>
<div class="container mx-auto mt-10 p-5">
    <div class="bg-white rounded-lg shadow-lg p-8">
        <h1 class="text-2xl font-bold mb-5 text-gray-800">Genera y Guarda tus Contraseñas Seguras</h1>
        <p class="mb-5 text-gray-600">Nuestro generador de contraseñas te permite crear contraseñas seguras y almacenarlas de manera segura en una base de datos.</p>
        
        <div class="mb-10">
            <h2 class="text-xl font-semibold mb-2 text-gray-700">Ventajas de Usar una Contraseña Maestra</h2>
            <ul class="list-disc pl-5 text-gray-600">
                <li class="mb-2">Solo necesitas recordar una contraseña para acceder a todas tus cuentas.</li>
                <li class="mb-2">Aumenta la seguridad al tener contraseñas únicas y complejas para cada cuenta.</li>
                <li class="mb-2">Facilita la administración y actualización de contraseñas.</li>
            </ul>
        </div>

        <div class="mb-10">
            <h2 class="text-xl font-semibold mb-2 text-gray-700">Importancia de Usar Contraseñas Seguras</h2>
            <ul class="list-disc pl-5 text-gray-600">
                <li class="mb-2">Protege tus cuentas de accesos no autorizados.</li>
                <li class="mb-2">Reduce el riesgo de ser víctima de ciberataques.</li>
                <li class="mb-2">Cumple con las mejores prácticas de seguridad.</li>
            </ul>
        </div>

        <div class="mb-10">
            <h2 class="text-xl font-semibold mb-2 text-gray-700">Cambio Regular de Contraseñas</h2>
            <ul class="list-disc pl-5 text-gray-600">
                <li class="mb-2">Mantén tus cuentas seguras actualizando contraseñas periódicamente.</li>
                <li class="mb-2">Evita que contraseñas antiguas y comprometidas sean usadas.</li>
            </ul>
        </div>

        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Comenzar</button>
    </div>
</div>
