@font-face {
    font-family: 'orbitron';
    src: url(../../../assets/fonts/Orbitron.ttf);
}

.orbitron {
    font-family: 'orbitron', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}