<div class="container-fluid h-screen flex flex-col items-center bg-slate-700">
    <h2 class="m-5 font-orbitron text-center text-5xl font-bold bg-gradient-to-t cursor-default from-orange-500 to-slate-900 text-transparent bg-clip-text select-none">Mis passwords</h2>


<div class="relative overflow-x-auto sm:rounded-lg mt-14 border-0 border-white rounded-lg shadow-sm shadow-orange-500">
    <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-orange-500">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Sitio
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha de creación
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha de expiración
                </th>
                <th scope="col" class="px-6 py-3">
                    Contraseña
                </th>
                <th scope="col" class="px-6 py-3">
                    <span>Editar</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span>Borrar</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cuenta of accountList" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 font-semibold hover:bg-gray-50 dark:hover:bg-gray-700">
                <td scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    {{cuenta.site}}
                </td>
                <td class="px-6 py-4">
                    {{cuenta.createTime}}
                </td>
                <td class="px-6 py-4">
                    {{cuenta.expirationTime}}
                </td>
                <td class="px-6 py-4">
                    {{cuenta.password}}
                </td>
                <td class="px-6 py-4 text-center">
                    <button type="button" class="font-medium text-blue-600 dark:text-blue-500 transition-all active:translate-y-1"><i class="fa-solid fa-pen-to-square"></i></button>
                </td>
                <td class="px-6 py-4 text-center">
                    <button type="button" class="font-medium text-blue-600 dark:text-blue-500 transition-all active:translate-y-1"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>            
        </tbody>
    </table>
</div>

</div>
