<div class="container-fluid flex justify-center bg-slate-700 h-screen">
  <div class="row justify-content-md-center">
    <h2 class="m-5 orbitron text-center text-5xl font-bold bg-gradient-to-t from-orange-500 to-slate-900 text-transparent bg-clip-text">Password Generator 1.0</h2>
    <div
      class="border-2 rounded-xl border-white m-6 p-2 bg-slate-400"
      id="container"
    >
      <form>
        <div>
          <div class="mb-2 p-5">
            <h5 class="text-center text-2xl font-bold bg-gradient-to-r from-orange-500 to-slate-700 text-transparent bg-clip-text">Longitud de la contraseña</h5>
            <hr class="border-2 mt-3 mx-20">
          </div>
          <div class="flex flex-row justify-around items-center">
            <label for="length-range" class="block text-xl font-bold text-gray-900 dark:text-white">Longitud actual: {{ passwordLength }}</label>
            <div>
                <button type="button" (click)="decreaseRange()" class="w-7 h-7 rounded-full bg-white text-lg font-semibold me-2">-</button>
                <input (input)="GetRangeValue()" id="length-range" type="range" min="1" max="50" value="25" class="h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-orange-500">
                <button type="button" (click)="increaseRange()" class="w-7 h-7 rounded-full bg-white text-lg font-semibold ms-2">+</button>
            </div>
          </div>
          <hr class="border-2 mt-6 mx-24">
        </div>
        <!--Contenido del password-->
        <h5 class="d-flex justify-content-center fw-bold">Characters</h5>
        <div class="d-inline-flex col-12 flex-wrap" id="checkboxes">
          <div
            class="form-check my-3 col-12 col-lg-6 ps-5 d-flex justify-content-center"
            title="Include lower case letters in password?"
          >
            <input type="checkbox" class="form-check-input" id="lowerCheck" />
            <label class="form-check-label fw-bold ps-2" for="lowerCheck"
              >Lowercase letters</label
            >
          </div>
          <div
            class="form-check my-3 col-12 col-lg-6 ps-5 d-flex justify-content-center"
            title="Include upper case letters in password?"
          >
            <input type="checkbox" class="form-check-input" id="upperCheck" />
            <label class="form-check-label fw-bold ps-2" for="upperCheck"
              >Uppercase letters</label
            >
          </div>
          <div
            class="form-check my-3 col-12 col-lg-6 ps-5 d-flex justify-content-center"
            title="Include numbers in password?"
          >
            <input type="checkbox" class="form-check-input" id="numbersCheck" />
            <label class="form-check-label fw-bold ps-2" for="numbersCheck"
              >Numbers</label
            >
          </div>
          <div
            class="form-check my-3 col-12 col-lg-6 ps-5 d-flex justify-content-center"
            title="Include symbols in password?"
          >
            <input type="checkbox" class="form-check-input" id="simbolsCheck" />
            <label class="form-check-label fw-bold ps-2" for="simbolsCheck"
              >Symbols</label
            >
          </div>
        </div>
        <hr />
        <!---->

        <!-- Exclusion de letras, numeros y simbolos-->
        <div
          class="my-2 d-grid justify-content-center text-center"
          title="Write in succession the characters you want to exclude from the password"
        >
          <label for="excludeCharacters" class="form-label fw-bold"
            >Exclude Characters (optional)</label
          >
          <input type="text" class="form-control" id="excludeCharacters" />
        </div>

        <!---->
        <!--Botones y resultado-->
        <div class="d-flex col-12 my-3" title="Let's do it!">
          <button
            type="button"
            id="btnGenerate"
            class="btn btn-primary fw-bold col-6 mx-auto"
          >
            Generate Password
          </button>
        </div>
        <div
          class="d-grid gap-2 col-12 my-3 justify-content-center text-center"
          id="showPassword"
        >
          <span id="generatedPassword" class="badge bg-secondary"></span>
          <span id="passwordResult"></span>
          <button id="btnSave" class="btn btn-success invisible col-6 mx-auto">
            Save Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
